.problems {
    &__header {
        margin-bottom: 20px;
    }

    &__problemsFilterSearch {
        margin-bottom: 20px;
        width: 100%;
    }

    &__problems {
        margin-bottom: 20px;
    }
}