.register {
    width: 300px;

    &__header {
        text-align: center;
        margin-bottom: 30px;
    }
}

.registerBody {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    &__row {
        margin-bottom: 20px;
    }
}

.registerRow {
    &__label, &__button {
        width: 100%;
    }
}