.problem {
    &__description {
        margin-bottom: 20px;
        opacity: .75;
    }

    &__collapse, &__collapse:hover {
        text-decoration: underline;
        color: inherit;
    }

    &__summary {
        cursor: pointer;
        margin-bottom: 0;
    }
}