.problem {
    display: flex;
    flex-flow: column nowrap;

    &__content {
        display: flex;
        flex-flow: column nowrap;
    }

    &__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__icon {
        margin-right: 10px;
    }

    &__summary {
        margin-right: auto;
    }

    &__description {
        margin-bottom: 20px;
        opacity: .75;
    }

    &__collapse, &__collapse:hover {
        text-decoration: underline;
        color: inherit;
    }

    &__button {
        margin-right: 10px;
    }
}