.layout {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    min-height: 100vh;
    min-width: 800px;
    position: relative;
    box-sizing: border-box;

    &__toasts {
        position: absolute;
        right: 20px;
        top: 100px;
        width: 300px;
    }

    &__header {
        min-height: 70px;
    }

    &__main {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    &__footer {
        min-height: 70px;
    }
}