html
    head
        title Courses
    body
        h1= `Hello "${userName}"!`
        h2 We can offer the following courses for you:
        ul
        each course in courses
            li
                a(href=`/courses/${course.name}`)= course.name