html
    head
        title Login
    body
        h1 Please introduce yourserlf:
        form(method='POST', action='/login')
            p
                label
                    span Name:&nbsp;
                    input(name='name', type='text')
            p
                label
                    span Password:&nbsp;
                    input(name='password', type='password')
            p
                input(type='submit')
