.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(248, 249, 250);

    &__title {
        font-size: 17px;
        font-weight: 700;
    }
}